.karan{
    margin: 30px;
    max-width: 100%;
    height: auto;
   

}
body{
    overflow: hidden;
}
.adarsh{
    position: relative;
    left:400px;
    margin-left:800px;position:relative;top:-700px;

}

@media all and(max-height:700px){
    .g456{
        max-width:70%;
        object-fit: cover;
    }
    body{
        overflow: none;
    }
    .adarsh{
        position: relative;
        top:900px;
    }

}